Repository eliseuvideira/graphql-starter-old: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --max-warnings=0

.lintstagedrc:

{
  "*.{js,ts,json,yml}": [
    "prettier --check"
  ],
  "*.ts": [
    "eslint --max-warnings=0"
  ]
}

:wrench: using commander for docker scripts
  .docker-build
  .docker-push
  package.json
  scripts/docker.js
  yarn.lock
Due: prettier --check

:wrench: refactor docker files
  .dockerignore
  docker-compose.yml
Due: prettier --check

:wrench: added gitattributes
  .gitattributes
Due: none

:wrench: modified eslintrc
  .eslintrc
Due: none

:wrench: modified folder structure
  src/apollo.ts
  src/server.ts
  src/utils/apollo.ts
  src/utils/app.ts
Due: prettier --check, eslint --max-warnings=0

:sparkles: added auth
  .env.example
  src/env.d.ts
  src/functions/auth.ts
  src/resolvers/api/api.ts
Due: prettier --check, eslint --max-warnings=0

:wrench: small refactor
  src/server.ts
  src/utils/app.ts
Due: prettier --check, eslint --max-warnings=0

:sparkles: added mongodb
  .env.example
  docker-compose.yml
  package.json
  src/env.d.ts
  src/server.ts
  src/utils/database.ts
  yarn.lock
Due: prettier --check, eslint --max-warnings=0

:sparkles: added model, resolvers and typedefs
  src/functions/auth.ts
  src/models/Package.ts
  src/resolvers/packages/createPackage.ts
  src/resolvers/packages/deletePackage.ts
  src/resolvers/packages/package.ts
  src/resolvers/packages/packages.ts
  src/resolvers/packages/updatePackage.ts
  src/server.ts
  src/typeDefs/packages.ts
  src/utils/apollo.ts
  src/utils/database.ts
  src/utils/mongodb.ts
Due: prettier --check, eslint --max-warnings=0

:fire: removed mongodb
  .env.example
  docker-compose.yml
  package.json
  src/env.d.ts
  src/models/Package.ts
  src/resolvers/packages/createPackage.ts
  src/resolvers/packages/deletePackage.ts
  src/resolvers/packages/package.ts
  src/resolvers/packages/packages.ts
  src/resolvers/packages/updatePackage.ts
  src/server.ts
  src/typeDefs/packages.ts
  src/utils/database.ts
  src/utils/mongodb.ts
  yarn.lock
Due: prettier --check, eslint --max-warnings=0

:sparkles: fixed resolvers and typedefs
  src/resolvers/api/api.ts
  src/resolvers/api/uptime.ts
  src/typeDefs/api.ts
Due: prettier --check, eslint --max-warnings=0

:sparkles: added postgres database
  .env.example
  .eslintignore
  database/functions/parseRaw.js
  database/functions/setUpdatedAt.js
  database/knexfile.js
  database/migrations/20210829140137_alter_database_set_timezone.js
  database/stub.js
  docker-compose.yml
  package.json
  src/env.d.ts
  src/server.ts
  src/utils/database.ts
  yarn.lock
Due: prettier --check, eslint --max-warnings=0

:wrench: modified prettier config
  .prettierrc
Due: none

:wrench: modified gitattributes
  .gitattributes
Due: none

:wrench: changed folder structure
  src/resolvers/API/Query/api.ts
  src/resolvers/api/api.ts
  src/typeDefs/API/Query/api.ts
  src/typeDefs/API/index.ts
  src/utils/apollo.ts
Due: prettier --check, eslint --max-warnings=0

:sparkles: added extension unaccent
  database/migrations/20210829154118_create_extension_unaccent.js
Due: prettier --check

:wrench: fixed database
  database/functions/parseRaw.js
  database/migrations/20210829140137_alter_database_set_timezone.js
  database/migrations/20210829154235_create_function_setUpdatedAt.js
  database/stub.js
Due: prettier --check

:sparkles: added migrations
  database/migrations/20210829155728_create_schema_cities.js
  database/migrations/20210829155922_create_table_continents.js
  database/migrations/20210829160129_create_table_countries.js
  database/migrations/20210829161019_create_table_cities.js
Due: prettier --check
